/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: hsl(230deg, 35%, 7%);
  font-weight: 400;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.contentSpanner {
  background-image: url("../starter-code/assets/home/background-home-desktop.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.primaryNavigation {
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}
.primaryNavigation img {
  width: 3%;
  aspect-ratio: 1/1;
  align-self: center;
}

.horizontalLine {
  width: 40vw;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 10;
  position: absolute;
  left: 10%;
}

@media only screen and (min-width: 1300px) and (max-width: 1620px) {
  .horizontalLine {
    width: 35vw;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1300px) {
  .horizontalLine {
    width: 30vw;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1050px) {
  .horizontalLine {
    width: 25vw;
  }
}
@media only screen and (max-width: 1000px) {
  .horizontalLine {
    display: none;
  }
}
.navigationList {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  padding-inline: 10%;
  padding-right: 30%;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.04);
  height: 100%;
}
.navigationList li {
  height: 100%;
  margin-inline: 10%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-block: 5%;
}
.navigationList li a {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  align-self: center;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 2px;
}
.navigationList li:hover {
  transform: translateY(1px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.navigationList li:first-of-type {
  border-bottom: 2px white solid;
  cursor: pointer;
  transform: translateY(1px);
}

.opened {
  transform: translateX(0%) !important;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .contentSpanner {
    background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
  }
  .contentSpanner .contentWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
  }
  .contentSpanner .contentWrapper .exploreButton {
    align-self: center;
    margin-block: auto;
  }
  .contentSpanner .contentWrapper .textSpanner {
    width: 70%;
    text-align: center;
    margin-block: auto;
  }
  .primaryNavigation {
    width: 100vw;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }
  .primaryNavigation img {
    width: 10%;
    margin-left: 5%;
  }
  .primaryNavigation .navigationList {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: 70vw;
    padding: 0;
    justify-content: flex-end;
  }
  .primaryNavigation .navigationList li {
    margin-inline: 3vw;
  }
}
.mobileMenuToggle {
  display: none;
}

.numberSelector {
  font-weight: 900;
  padding-inline: 5%;
  letter-spacing: 4px;
}

.contentWrapper {
  margin-top: auto;
  margin-bottom: 10%;
  width: 80%;
  align-self: center;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textSpanner {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
.textSpanner h2 {
  color: hsl(231deg, 77%, 90%);
  font-size: clamp(1rem, 1.5vw, 3rem);
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}
.textSpanner h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(6rem, 9vw, 12rem);
  text-transform: uppercase;
  margin: 0;
}
.textSpanner h3 {
  color: hsl(231deg, 77%, 90%);
  margin: 0;
  font-weight: 400;
}

.exploreButton {
  font-size: clamp(2rem, 2vw, 3rem);
  font-family: "Bellefair", serif;
  align-self: flex-end;
  width: 16rem;
  height: 16rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0;
  position: relative;
  z-index: 2;
}
.exploreButton:hover {
  cursor: pointer;
}
.exploreButton:hover::before {
  opacity: 1;
}
.exploreButton a {
  text-decoration: none;
  color: hsl(230deg, 35%, 7%);
}

.exploreButton::before {
  content: "";
  z-index: 1;
  opacity: 0;
  width: 24rem;
  height: 24rem;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 500ms ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .contentSpanner {
    background-image: url(../starter-code/assets/home/background-home-mobile.jpg);
    width: 100%;
    margin: 0;
    aspect-ratio: none;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
  }
  .primaryNavigation {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
  }
  .primaryNavigation img {
    width: 10%;
    margin-left: 5%;
  }
  .horizontalLine {
    display: none;
  }
  .navigationList {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    margin: 0;
    align-items: baseline;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }
  .navigationList li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 0;
    padding: 0;
    margin-block: 1rem;
  }
  .navigationList li:hover {
    border: 0;
  }
  .navigationList li:first-of-type {
    border: 0;
    margin-top: 100%;
  }
  .mobileMenuToggle {
    z-index: 10000;
    display: block;
    background: transparent;
    border: none;
  }
  .mobileMenuToggle img {
    width: 100%;
    margin-right: 5%;
  }
  .contentWrapper {
    display: flex;
    flex-direction: column;
  }
  .textSpanner {
    width: 90%;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 35%;
  }
  .textSpanner h3 {
    font-size: clamp(0.5rem, 3.5vw, 2rem);
  }
  .textSpanner h1 {
    font-size: clamp(4rem, 15vw, 10rem);
    font-family: "Bellefair", serif;
    font-weight: 400;
  }
  .exploreButton {
    width: 10rem;
    height: 10rem;
    align-self: center;
    justify-self: center;
  }
  .exploreButton::before {
    width: 0;
    height: 15rem;
  }
}/*# sourceMappingURL=style.css.map */