/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.contentSpanner {
  background-image: url(../starter-code/assets/technology/background-technology-desktop.jpg);
}

.navigationList a:nth-of-type(4) {
  border-bottom: 2px white solid;
  cursor: pointer;
  transform: translateY(1px);
}

.technologySection {
  display: flex;
  flex-direction: column;
}

.technologyContent {
  display: flex;
  flex-direction: row;
}

.headerUtility {
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
}

.header {
  margin-top: 10%;
  font-size: clamp(2rem, 5vw, 3rem);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  margin-left: 5%;
  margin-top: 5%;
}

.numberBold {
  font-weight: 700;
  opacity: 0.25;
  letter-spacing: 5px;
  padding-right: 5%;
  font-family: "Barlow Condensed", sans-serif;
}

.buttonsColumn {
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}
.buttonsColumn button {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: hsl(0deg, 0%, 100%);
  background-color: transparent;
  aspect-ratio: 1/1;
  width: 6rem;
  height: 6rem;
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: "Bellefair", serif;
  margin-block: 1rem;
}
.buttonsColumn button:hover, .buttonsColumn button:focus {
  cursor: pointer;
  border: 1px solid white;
  transition: 500ms ease-in-out;
}
.buttonsColumn:first-of-type {
  padding-top: 0%;
}

.activated {
  background-color: hsl(0deg, 0%, 100%) !important;
  color: hsl(230deg, 35%, 7%) !important;
  border: 0 !important;
}

.textSpanner {
  width: 60%;
  padding-inline: 5%;
  margin-top: 15vh;
}
.textSpanner h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 2rem);
  text-transform: uppercase;
}
.textSpanner p {
  font-family: "Barlow", sans-serif;
  color: hsl(231deg, 77%, 90%);
  font-size: clamp(0.5rem, 1.2vw, 2rem);
  width: 45ch;
}

.technologyName {
  font-size: clamp(1rem, 6vw, 4rem);
}

.imageSpanner {
  width: 40%;
  display: flex;
}
.imageSpanner img {
  align-self: flex-end;
  width: 100%;
}

.mobileImage {
  display: none;
}

.mobileWrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .technologyContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "image" "buttons" "text";
  }
  .imageSpanner {
    width: 100%;
  }
  .mobileImage {
    display: block;
    width: 100%;
    grid-area: image;
  }
  .technologyImage {
    display: none;
  }
  .header {
    text-align: center;
    font-size: clamp(1rem, 5vw, 3rem);
    padding-block: 2rem;
  }
  .buttonsColumn {
    flex-direction: row;
    margin: 0;
    padding: 0;
    grid-area: buttons;
    margin-inline: auto;
    margin-block: 2rem;
  }
  .buttonsColumn button {
    width: 2.5rem;
    height: 2.5rem;
    margin-inline: 0.5rem;
  }
  .textSpanner {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    grid-area: text;
    text-align: center;
    flex-direction: column;
  }
  .textSpanner p {
    align-self: center;
    font-size: clamp(0.5rem, 4vw, 3rem);
    width: 90%;
    padding-bottom: 2rem;
  }
  .textSpanner h2 {
    color: hsl(231deg, 77%, 90%);
    font-size: clamp(1rem, 4vw, 3rem);
  }
  .technologyName {
    font-size: clamp(1rem, 8vw, 3rem);
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .technologyContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "image" "buttons" "text";
  }
  .imageSpanner {
    width: 100%;
  }
  .mobileImage {
    display: block;
    width: 100%;
    grid-area: image;
  }
  .technologyImage {
    display: none;
  }
  .header {
    font-size: clamp(1rem, 5vw, 3rem);
    padding-block: 2rem;
  }
  .buttonsColumn {
    flex-direction: row;
    margin: 0;
    padding: 0;
    grid-area: buttons;
    margin-inline: auto;
    margin-block: 2rem;
  }
  .buttonsColumn button {
    width: 3.75rem;
    height: 3.75rem;
    margin-inline: 0.5rem;
  }
  .textSpanner {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    grid-area: text;
    text-align: center;
    flex-direction: column;
  }
  .textSpanner p {
    align-self: center;
    font-size: clamp(0.5rem, 2.5vw, 3rem);
    width: 70%;
    padding-bottom: 2rem;
  }
  .textSpanner h2 {
    color: hsl(231deg, 77%, 90%);
    font-size: clamp(1rem, 4vw, 3rem);
  }
  .technologyName {
    font-size: clamp(1rem, 7vw, 3rem);
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .buttonsColumn button {
    width: 5rem;
    height: 5rem;
  }
  .textSpanner p {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    width: 40ch;
  }
  .technologyName {
    font-size: clamp(1rem, 5vw, 3rem);
  }
}/*# sourceMappingURL=technology.css.map */